<div class="row justify-content-center" style="width: 99%;">
    <div class="col-lg-4">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center my-4">Criar Conta</h3></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" *ngIf="hasError == true">
                            {{error.message}}
                        </div>
                        <div class="alert alert-success" role="alert" *ngIf="msg">
                            {{msg}}
                        </div>
                    </div>
                </div>
                <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Nome:</label>
                        <input type="text" class="form-control" [(ngModel)]="empresa.nome" name="nome"/>
                    </div>
                    <div class="form-group">
                        <label>Usuário: *</label>
                        <input type="text" class="form-control" name="usuario" [(ngModel)]="empresa.user.username" />
                    </div>
                    <div class="form-group">
                        <label>Senha: *</label>
                        <input type="password" class="form-control" name="senha" [(ngModel)]="empresa.user.password" />
                    </div>
                    <div class="form-group">
                        <label>País:</label>
                        <select class="form-control" id="country" [(ngModel)]="empresa.country" name="country">
                            <option value="PT">Portugal</option>
                            <option value="BR">Brasil</option>
                        </select>    
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save"></i>
                                Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="position: fixed; left: 0; bottom: 0; width: 100%;text-align: center; z-index: 999999;">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2019</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>