<div class="pagetitle">
    <h1 class="mt-4">Financeiro</h1>
    <nav>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Pagamentos</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <table style="width: 100%;">
        <thead>
            <tr class="bg-secondary">
                <th colspan="5" class="text-dark h6" style="text-align: center; color: white !important;">Orçamentos</th>
            </tr>
            <tr>
                <th>Número Pedido</th>
                <th>Data Pedido</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos">
                <td>{{pedido.numeroPedido}}</td>
                <td>{{pedido.dataPedido  | date: 'dd/MM/yyyy'}}</td>
                <td>{{pedido.statusPedido}}</td>
                <td>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#pagamentoModal" (click)="showPagamentos(pedido)" style="margin-right: 2px;">
                        <i class="fas fa-money-bill-wave"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#pagamentoModal" (click)="cancelarPedido(pedido)" style="margin-right: 2px;">
                        <i class="fas fa-ban"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</section>

<div class="modal fade" id="pagamentoModal" tabindex="-1" role="dialog" aria-labelledby="pagamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="width: 800px !important; left: -100px !important; max-height: 700px; height: 700px; padding: 0px !important;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Orçamento <b>{{pedido.numeroPedido}}</b></h5>
                <button class="btn btn-secondary btn-sm" (click)="download(pedido.id)" style="margin-right: 2px;">
                    Orçamento
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
                <button class="btn btn-secondary btn-sm" (click)="download(pedido.id)" style="margin-right: 2px;">
                    Recibo
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#uploadModal" style="margin-right: 2px;" (click)="showDocumentos()">
                    Documentos
                    <i class="fas fa-upload"></i>
                </button>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group" >
                    <div class="form-group mb-1" style="width: 70%; margin-right: 5%;">
                        <label class="form-label" style="color: black;">Nome:</label>
                        <input type="text" class="form-control" [(ngModel)]="pedido.cliente.nome" name="nome" id="nome" disabled/>
                    </div>
                    <div class="form-check form-switch" style="width: 25%;">
                        <label for="pagamentoComIva" class="form-label" style="color: black;">Pagamento com IVA</label>
                        <input class="form-check-input form-control" type="checkbox" [(ngModel)]="pedido.pagamentoComIva" name="pagamentoComIva" id="pagamentoComIva" (click)="pagamentoComIva()"/>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: black;">NIF:</label>
                    <input type="text" class="form-control" [(ngModel)]="pedido.cliente.docIdentificacao" name="nif" id="nif" disabled/>
                </div>
                <div class="form-group mb-1">
                    <label style="color: black;">Telefone:</label>
                    <input type="text" class="form-control" name="telefone" [(ngModel)]="pedido.cliente.contato" disabled/>
                </div>
                <div class="input-group" >
                    <div class="form-group mb-1" style="width: 30%; margin-right: 5%;">
                        <label style="color: black;">Valor Total Pedido:</label>
                        <span style="text-align: left !important; background-color: #e9ecef;" class="form-control">€ {{pedido.valorTotalPedido | currency}}</span>
                    </div>
                    <div class="form-group mb-1" style="width: 30%; margin-right: 5%;">
                        <label style="color: black;">Valor Total Pago:</label>
                        <span style="text-align: left !important; background-color: #e9ecef;" class="form-control">€ {{pedido.valorTotalPago | currency}}</span>
                    </div>
                    <div class="form-group mb-1" style="width: 30%;">
                        <label style="color: black;">Saldo Devedor:</label>
                        <span style="text-align: left !important; background-color: #e9ecef;" class="form-control">€ {{pedido.valorTotalPedido - pedido.valorTotalPago | currency}}</span>
                    </div>

                </div>
                <hr>
                <div class="bg-secondary rounded text-white text-center pb-1 pt-1">Registrar Pagamento</div>
                <div class="form-group">
                    <label style="color: black;">Data de Pagamento: </label>
                    <div class="input-group">
                        <input class="form-control" placeholder="dd/mm/yyyy" mask="0{2}/0{2}/0{4}" id="date"
                                name="d2" #c2="ngModel" [(ngModel)]="dataPagamento" ngbDatepicker #d2="ngbDatepicker" [disabled]="pedido.valorTotalPedido - pedido.valorTotalPago <= 0">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button" [disabled]="pedido.valorTotalPedido - pedido.valorTotalPago <= 0">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="color: black;">Valor Pago:</label>
                        <div class="input-group">
                            <input type="text" currencyMask class="form-control" [(ngModel)]="pagamento.valorRecebido" name="valorRecebido" [options]="{ prefix: '€ ', thousands: '.', decimal: ',' }" [disabled]="pedido.valorTotalPedido - pedido.valorTotalPago <= 0"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="salvar()" [disabled]="pedido.valorTotalPedido - pedido.valorTotalPago <= 0">
                                    <i class="fas fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-2">
                
                <div class="bg-secondary rounded text-white text-center pb-1 pt-1">Pagamentos Efetuados</div>
                <div class="form-group">
                    <div style="max-height: 95px; height: 95px; overflow: auto;">
                        <table class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Data de Pagamento</th>
                                    <th>Valor Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pag of pagamentos">
                                    <td>{{pag.dataPagamento | date: 'dd/MM/yyyy'}}</td>
                                    <td>€ {{pag.valorRecebido | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="width: 800px !important; left: -100px !important; max-height: 700px; height: 700px; padding: 0px !important;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Documentação de <b>{{pedido.numeroPedido}}</b></h5>
                <button type="button" class="close" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#pagamentoModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="file" id="formFileMultiple" multiple accept="application/pdf" (change)="prepareUpload($event.target.files)"/>

                <hr class="mb-5">
                <table class="table table-sm table-striped">
                    <tr *ngFor="let documento of documentos">
                        <td>{{documento.nomeDocumento}}</td>
                        <td>
                            <button (click)="downloadContrato(documento)">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="upload()">Enviar</button>
            </div>
        </div>
    </div>
</div>
