<div class="pagetitle">
    <h1 class="mt-4">Configuração</h1>
    <nav>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Geral</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <table style="width: 100%; font-size: 12px  ;">
        <tr>
            <td style="vertical-align: top; width: 48%; padding-right: 2%;">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header bg-secondary" style="padding: 0px;">
                        <h3 class="text-center font-weight-light text-light">Dados</h3>
                    </div>
                    <div class="card-body text-white bg-light">
                        <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group was-validated">
                                <label style="color: black;">Nome:</label>
                                <input type="text" class="form-control" [(ngModel)]="empresa.nome" name="nome" required/>
                            </div>
                            <div class="form-group">
                                <label style="color: black;" *ngIf="empresa.country === 'PT'">NIPC:</label>
                                <label style="color: black;" *ngIf="empresa.country === 'BR'">CNPJ:</label>
                                <input type="text" class="form-control" [(ngModel)]="empresa.nipc" name="npic" required/>
                            </div>
                            <div class="form-group">
                                <label style="color: black;" *ngIf="empresa.country === 'PT'">IBAN:</label>
                                <label style="color: black;" *ngIf="empresa.country === 'BR'">Conta Corrente:</label>
                                <input type="text" class="form-control" [(ngModel)]="empresa.iban" name="iban" required/>
                            </div>
                            <div class="form-group">
                                <label style="color: black;">Usuário: *</label>
                                <input type="text" class="form-control" name="usuario" [(ngModel)]="empresa.user.username" autocomplete="username" required/>
                            </div>
                            <div class="form-group mb-1">
                                <label style="color: black;">Senha: *</label>
                                <input type="password" class="form-control" name="senha" [(ngModel)]="empresa.user.password" autocomplete="current-password"/>
                            </div>
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save"></i>
                                Enviar
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header bg-secondary" style="padding: 0px;">
                        <h3 class="text-center font-weight-light text-light">Contato</h3>
                    </div>
                    <div class="card-body text-white bg-light" >
                        <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group was-validated">
                                <label style="color: black;">Endereço:</label>
                                <input type="text" class="form-control" [(ngModel)]="contato.endereco" name="endereco" required/>
                            </div>
                            <div class="form-group">
                                <label style="color: black;">Telefone:</label>
                                <input type="text" class="form-control" name="telefone" [(ngModel)]="contato.telefone" required/>
                            </div>
                            <div class="form-group mb-1">
                                <label style="color: black;">Email:</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="contato.email" required/>
                            </div>
                                <button type="submit" class="btn btn-success" (click)="saveContato()">
                                    <i class="fas fa-save"></i>
                                    Enviar
                                </button>
                        </form>
                    </div>
                </div>
            </td>
            <td style="width: 50%; vertical-align: top;">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header bg-secondary" style="padding: 0px;">
                        <h3 class="text-center font-weight-light text-light">Logotipo</h3>
                    </div>
                    <div class="card-body text-white bg-light">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    <form #clienteForm="ngForm">
                                        <div class="form-group mb-1">
                                            <input class="form-control" type="file" id="formFileMultiple" accept=".png, .jpg" multiple (change)="prepareUpload($event.target.files)"/>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success" (click)="upload()">
                                        <i class="fas fa-save"></i>
                                        Enviar
                                    </button>
                                </td>
                                <td style="text-align: center;">
                                    <img class="images" [src]="logotipo" width="100" height="100" *ngIf="logotipo"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header bg-secondary" style="padding: 0px;">
                        <h3 class="text-center font-weight-light text-light">Prazos e Percentuais</h3>
                    </div>
                    <div class="card-body text-white bg-light">
                        <div class="card-body text-white bg-light" >
                            <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label style="color: black;">Prazo médio Entrega:</label>
                                    <input type="text" class="form-control" [(ngModel)]="empresa.prazoMedioEntrega" name="prazoMedioEntrega"/>
                                </div>
                                <div class="form-group">
                                    <label style="color: black;">Percentual de Lucro Desejado:</label>
                                    <div class="input-group">
                                        <input type="text" currencyMask class="form-control" name="lucro" [(ngModel)]="empresa.percentualLucro" [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <label style="color: black;" *ngIf="empresa.country === 'PT'">Percentual de Iva:</label>
                                    <label style="color: black;" *ngIf="empresa.country === 'BR'">Percentual de Imposto:</label>
                                    <div class="input-group">
                                        <input type="text" currencyMask class="form-control" name="iva" [(ngModel)]="empresa.percentualIva" [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                                    <button type="submit" class="btn btn-success" (click)="saveOutrasInformacoes()">
                                        <i class="fas fa-save"></i>
                                        Enviar
                                    </button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header bg-secondary" style="padding: 0px;">
                        <h3 class="text-center font-weight-light text-light">Preview Orçamento</h3>
                    </div>
                    <div class="card-body" >
                        <div class="rounded border border-dark" style="padding: 5px; overflow: auto; height: 300px;">
                            <body>
                                <div style="margin: 10px;">
                                    <table style="color: black; width: 100%; font-size: 15px;">
                                        <tr>
                                            <td>
                                                <img class="images" [src]="logotipo" width="100" height="100" *ngIf="logotipo"/>
                                            </td>
                                            <td style="text-align: center;">
                                                <h2>{{empresa.nome}}</h2>
                                            </td>
                                            <td style="width: 33%;"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left; font-size: 15px; padding-top: 20px;">
                                                Data: {{now | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: right;">
                                                Att: {{pedido.cliente.nome}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: right;">
                                                {{pedido.cliente.endereco}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: center;">
                                                <h1>ORÇAMENTO</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align: center;">
                                                <p class="text-justify">
                                                    Venho por meio deste apresentar orçamento pedido por V. Exas:
                                                </p>
                                            </td>
                                        </tr>
                                        <tr class="table">
                                            <td colspan="3" >
                                                <table class="table table-striped">
                                                    <tr>
                                                        <td>Produto</td>
                                                        <td>Quantidade</td>
                                                        <td>Dimensões</td>
                                                        <td>Valor</td>
                                                    </tr>
                                                    <tr *ngFor="let item of pedido.itens">
                                                        <td>{{item.produto}}</td>
                                                        <td>{{item.quantidade}}</td>
                                                        <td>A: {{item.altura}} x L: {{item.largura}} </td>
                                                        <td>{{item.totalItem | currency}} {{empresa.currencySymbol}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" class="text-left">Total</td>
                                                        <td>{{pedido.valorTotalPedido | currency }} {{empresa.currencySymbol}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Assinatura: ______________________________</td>
                                            <td></td>
                                            <td>Cliente: <br> _________________________________</td>
                                        </tr>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" style="font-size: 12px; text-align: right; padding-bottom: 100px; padding-top: 100px;">
                                                    {{empresa.nome}}, {{contato.endereco}}, contato: {{contato.telefone}} / {{contato.email}}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="page-break">
                            
                                    <table>
                                        <tr class="page-break">
                                            <td>
                                                <img class="images" [src]="logotipo" width="100" height="100" *ngIf="logotipo"/>
                                            </td>
                                            <td colspan="2" style="text-align: center;">
                                                <h1>OUTRAS INFORMAÇÕES</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div [innerHTML]="information"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </body>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </table>
    <div class="card shadow-lg border-0 rounded-lg mb-5">
        <div class="card-header bg-secondary" style="padding: 0px;">
            <div class="text-center font-weight-light text-light pt-2" style="padding-left: 15px; float: left; margin-right: auto;">
                <h3>Recibo</h3> 
            </div>
            <div class="font-weight-light text-light pull right pt-2" style="float: right; padding-right: 15px; vertical-align: middle; height: 48px; cursor: pointer;">
                <button class="text-light" data-bs-toggle="modal" data-bs-target="#helpModal" style="margin-right: 2px; background-color: transparent; border: none;">
                    <h3><i class="bi bi-info-circle" aria-hidden="true" style="min-height: 48px; min-width: 48px;"></i></h3>
                </button>
            </div>
        </div>
        <div class="card-body">
            <ckeditor [(ngModel)]="htmlContentRecibo" [config]="config" debounce="300" [editor]="Editor" name="content" style="max-width: 200px;"></ckeditor>
            
            <button type="submit" class="btn btn-success mt-3" (click)="saveRecibo()">
                <i class="fas fa-save"></i>
                Salvar
            </button>
        </div>
    </div>
    <div class="card shadow-lg border-0 rounded-lg mb-5">
        <div class="card-header bg-secondary" style="padding: 0px; width: 100%;">
            <div class="text-center font-weight-light text-light pt-2" style="padding-left: 15px; float: left; margin-right: auto;">
                <h3>Informações</h3> 
            </div>
            <div class="font-weight-light text-light pull right pt-2" style="float: right; padding-right: 15px; vertical-align: middle; height: 48px; cursor: pointer;">
                <button class="text-light" data-bs-toggle="modal" data-bs-target="#helpModal" style="margin-right: 2px; background-color: transparent; border: none;">
                    <h3><i class="bi bi-info-circle" aria-hidden="true" style="min-height: 48px; min-width: 48px;"></i></h3>
                </button>
            </div>
        </div>
        <div class="card-body">
            <ckeditor [(ngModel)]="htmlContent" [config]="config" debounce="300" [editor]="Editor" name="content" style="max-width: 200px;"></ckeditor>
            
            <button type="submit" class="btn btn-success mt-3" (click)="saveInformation()">
                <i class="fas fa-save"></i>
                Salvar
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center" *ngIf="loading" style="width: 100%; position: absolute; display: none; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 9999999; cursor: pointer;">
        <div id="overlay" class="d-flex justify-content-center spinner-border text-light" style="width: 7rem; height: 7rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>    
</section>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="width: 800px !important; left: -100px !important; max-height: 700px; height: 700px; padding: 0px !important;">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel"><b>Ajuda</b></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    Para incluir markups (tags especiais que serão processadas e substituídas) deverá utilizar as tags abaixo listadas:
                </p>
                <ul class="text-justify">
                    <li><span style="font-weight: bold; ">[[itens]]</span> - inserir descrição de itens do pedido no texto</li>
                    <li><span style="font-weight: bold; ">[[cliente]]</span> - inserir nome do cliente no texto</li>
                    <li><span style="font-weight: bold; ">[[garantias]]</span> - inserir informação de garantia para cada item do pedido no texto</li>
                    <li><span style="font-weight: bold; ">[[images]]</span> - inserir imagens do pedido no texto</li>
                    <li><span style="font-weight: bold; ">[[morada]]</span> - inserir dados da morada no texto</li>
                    <li><span style="font-weight: bold; ">[[pedido]]</span> - inserir informação do número pedido no texto</li>
                    <li><span style="font-weight: bold; ">[[valor-pagamento]]</span> - inserir informação do valor pago referente ao pedido no texto</li>
                    <li><span style="font-weight: bold; ">[[valor-extenso]]</span> - inserir informação do valor pago, por extenso, referente ao pedido no texto</li>
                    
                </ul>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>
